<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Home</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../../assets/stylesheets/welcome.scss">

</head>

<body>

<br>

  <%= link_to '<button type="button" class="btn btn-primary" style="margin-left:5%; font-size: 15px;">+ New article</button>'.html_safe, new_article_path %>
  
  <h1 class="text-center" Style="font-size: 35px;"><b>MicroBlogger</b></h1>
  
<br>

<!-- Page Content -->
  <div class="container-fluid">
	
	<% @articles.each do |article| %>	
	<div class="row pagination justify-content-center grid-divider">
		<div class="span6">
		<div class="card  col-md-12">
		
			<h1><%= article.title %></h1>		  
		  <!-- Blog Post -->
			<div class="card-body">
				<h3 class="card-text" style="width: 450px;  word-wrap: break-word; white-space: pre-wrap;"><%= article.text %></h3>
				<br>
				<%= link_to '<button type="button" class="btn btn-primary" Style="font-size: 15px;">Show &rarr;</button>'.html_safe, article_path(article) %>
				<%= link_to '<button type="button" class="btn btn-primary" Style="font-size: 15px;">Edit &rarr;</button>'.html_safe, edit_article_path(article) %>
				<%= link_to '<button type="button" class="btn btn-primary" Style="font-size: 15px;">Delete &rarr;</button>'.html_safe, article_path(article),
							  method: :delete,
							  data: { confirm: 'Are you sure?' } %>
			</div>
		</div>
		</div>
	</div>
	<% end %>
  </div>
	
</body
